.wrap {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.avatar {
  height: auto;
  width: 150px;
  border-radius: 50%;
}

.avatar,
.name,
.phone {
  margin-bottom: 15px;
}
.name,
.phone,
.email {
  font-size: 20px;
  padding-left: 30px;
  position: relative;
}

.name::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: url(./assets/man.png);
  height: 15px;
  width: 15px;
}
.phone::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: url(./assets/phone.png);
  height: 15px;
  width: 15px;
}
.email::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: url(./assets/email.png);
  height: 15px;
  width: 15px;
}

.update {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.urlInput,
.nameInput,
.phoneInput,
.emailInput {
  margin-bottom: 10px;
  width: 400px;
}
