.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  display: flex;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info p {
  margin: 0;
  margin-bottom: 5px;
}

.image {
  height: auto;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.price {
  font-weight: bold;
}

.ingrTitle {
  font-weight: bold;
  font-size: 16px;
}

.goBackBtn {
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #9eccaa;
}

.goBackBtn:hover {
  cursor: pointer;
}

.filterBtn {
  border: none;
  background: #ffbaba;
  border-radius: 4px;
  margin-left: 12px;
  font-size: 12px;
}

.addBtn {
  outline: none;
  align-self: center;
  width: 150px;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 4px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.addBtn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.addBtn:active {
  position: relative;
  top: 1px;
}
