.container {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.item {
  display: flex;
  width: 100%;
  background-color: #bbbaba1f;
  padding: 10px;
}

.item:not(:last-of-type) {
  margin-bottom: 6px;
}

.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.name {
  margin: 0;
  width: 50%;
  min-width: 150px;
}
.priceWrap {
  width: 60px;
}
.price {
  width: 10%;
  margin: 0;
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 0;
}

.btnWrap,
.dishWrap {
  display: flex;
  align-items: center;
}
.dishWrap {
  justify-content: start;
  text-decoration: none;
  color: #8d8173;
}

.btnWrap {
  justify-content: center;
  flex-direction: column;
}

.amountValue {
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 0;
}
.amountWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.image {
  margin-right: 20px;
  overflow: hidden;
}

.deleteBtn,
.incrementBtn,
.decrementBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  outline: none;
  background-color: #ffffff00;
  border: none;
  padding: 0;
}

.deleteBtn:active,
.incrementBtn:active,
.decrementBtn:active {
  position: relative;
  top: 2px;
}

.disabled {
  composes: decrementBtn;
  opacity: 0.5;
}

.disabled:active {
  top: 0px;
}

.basket,
.increm,
.decrem {
  width: 18px;
}
.goBackBtn,
.paymentBtn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #8d8173;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.goBackBtn:hover .paymentBtn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.paymentWrap,
.totalWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.total {
  font-weight: bold;
}
