.ldsDualRing {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 64px;
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7) transparent rgba(0, 0, 0, 0.7) transparent;
  animation: ldsDualRing 2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
